@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #64748b;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
